
<main>
<header>
{{!--     
    <a href="/home" title="Home">
    <img class="logo" src="/public/Images/cineratings_logo.jpg" alt="CineRatings Logo">
    </a>
    <div class="search-bar">
        <form method="post" id="search-form">
        <input type="text" name="Search" id="searchInput">
         <button type="submit"><img class="icon" src="/public/Images/microscope_icon.jpg" alt="Search"></button>
         </form> 
         <script src="../public/js/search_form.js"></script>
   </div>
    <button class="watchlist">Watchlist</button>
    <div id="errors"></div> --}}
    <br>
    <br>
    <br>
    <div class="box-container">
    <h1 class="header-intro-text">Welcome to CineRatings!</h1>
    <p class="intro-text">At CineRatings, we are on a mission to redefine the way you experience movies. We understand that films are not just stories on a screen; they're journeys that evoke emotions, spark conversations, and create unforgettable memories. Our platform is more than a review hub; it's a gateway to a world of cinematic wonders tailored specifically for you.
    Through meticulously curated user-generated reviews and ratings, we pave the way for you to explore and discover films that resonate with your unique tastes. Whether you're seeking heart-racing thrillers, heartwarming dramas, mind-bending sci-fi, or laugh-out-loud comedies, we've got you covered.</p>
    <p class="intro-text">Imagine a place where movie enthusiasts like you come together to share their passion for cinema, where every review is a piece of valuable insight, helping you make informed choices and uncover hidden gems. Our community isn't just about watching movies; it's about sharing the magic of storytelling, celebrating diverse perspectives, and finding that one movie that lingers in your thoughts long after the credits roll.
    So, dive into CineRatings, where every review is a testament to our dedication to making your cinematic journey not just entertaining but truly unforgettable. Join us in celebrating the art of movies and embark on a quest to find your next unforgettable cinematic experience.</p>
    </div>
    </header>
    <section class="explore-section">
        <a href="/home">
        <h2>Explore what's streaming</h2>
        </a>
        <div id="searchResults"></div>
    </section>

    {{!-- <footer>
        <p>Nancy | Jinghao | Yash | Vivek </p>
    </footer> --}}
</main>